<mat-card class="tw-mt-5 tw-px-16">
  <mat-card-header>
    <mat-card-title>Регистрация нового пользователя</mat-card-title>
  </mat-card-header>
  <mat-card-content class="tw-mt-5">
    <form [formGroup]="form">
      <div class="tw-flex tw-gap-5 tw-mb-2">
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Фамилия</mat-label>
          <input
            formControlName="userLastName"
            type="text"
            matInput
            placeholder="Введи фамилию"
          />
          <mat-error *ngIf="form.controls['userLastName'].hasError('required')">
            Введи фамилию
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Имя</mat-label>
          <input
            formControlName="userFirstName"
            type="text"
            matInput
            placeholder="Введи имя"
          />
          <mat-error
            *ngIf="form.controls['userFirstName'].hasError('required')"
          >
            Введи имя
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Отчество</mat-label>
          <input
            formControlName="userMiddleName"
            type="text"
            matInput
            placeholder="Введи отчество"
          />
          <mat-error
            *ngIf="form.controls['userMiddleName'].hasError('required')"
          >
            Введи отчество
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пол</mat-label>
          <mat-select formControlName="userGender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{ gender.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['userGender'].hasError('required')">
            Выбери пол
          </mat-error>
        </mat-form-field>
      </div>
      <div class="tw-flex tw-gap-5 tw-mb-2">
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Дата рождения</mat-label>
          <input
            formControlName="userBirthDate"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="form.controls['userBirthDate'].hasError('required')"
          >
            Введи дату рождения
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-basis-1/4">
          <mat-label>СНИЛС</mat-label>
          <input
            formControlName="userSnils"
            type="text"
            matInput
            maxlength="11"
            placeholder="Введи снилс"
          />
          <mat-error *ngIf="form.controls['userSnils'].hasError('required')">
            Введи СНИЛС
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Номер телефона</mat-label>
          <input
            formControlName="userPhone"
            type="text"
            matInput
            maxlength="11"
            placeholder="Введи номер телефона"
          />
          <mat-error *ngIf="form.controls['userPhone'].hasError('required')">
            Введи номер телефона
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Адрес</mat-label>
          <input
            formControlName="userAddress"
            type="text"
            matInput
            placeholder="Введи адрес"
          />
          <mat-error *ngIf="form.controls['userAddress'].hasError('required')">
            Введи адрес
          </mat-error>
        </mat-form-field>
      </div>
      <div class="tw-flex tw-justify-between">
        <div class="tw-flex tw-gap-5">
          <button
            color="primary"
            mat-stroked-button
            (click)="photoInput.click()"
          >
            <span>Загрузить фотографию</span>
            <input
              formControlname="userPhoto"
              #photoInput
              type="file"
              (change)="onFileSelected($event, 'photo')"
              style="display: none"
            />
          </button>
          <mat-icon
            *ngIf="form.controls['userPhoto'].valid"
            class="tw-text-green-600 tw-mt-1"
            >check_circle</mat-icon
          >
          <button
            color="primary"
            mat-stroked-button
            (click)="passportInput.click()"
          >
            <span>Загрузить скан паспорта</span>
            <input
              formControlname="userPassport"
              class="tw-hidden"
              #passportInput
              type="file"
              (change)="onFileSelected($event, 'passport')"
            />
          </button>
          <mat-icon
            *ngIf="form.controls['userPassport'].valid"
            class="tw-text-green-600 tw-mt-1"
            >check_circle</mat-icon
          >
        </div>
        <div>
          <button
            (click)="next()"
            [disabled]="!form.valid"
            color="primary"
            mat-raised-button
          >
            Продолжить
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
